html
  font-size responsive
  min-font-size 10px
  max-font-size 16px
  lower-font-range 320px
	upper-font-range 1920px
	margin 0
	padding 0
	width 100%

body
	font-family font
	font-size responsive
	margin 0
	overflow-x hidden
	padding 0
	width 100%

.container
	margin-left auto
	margin-right auto
	max-width 1200px
	padding 0
