.text
    color black
    font-size responsive
    font-weight normal
    line-height 1.2em
    &--xs
        font-size .8em
    &--sm
        font-size .9em
    &--md
        font-size 1.2em
    &--lg
        font-size 1.4em
    &--xlg
        font-size 1.8em
    &--xxlg
        font-size 2.2em
    &--xxxlg
        font-size 3em

.link
    background none
    font-weight 400
    outline none
    line-height 1.2em
    margin .5em 0
    &--none
        text-decoration none
        &:hover, &:active, &:focus
            text-decoration none

.error
    color red
    font-family font
    font-size responsive
    font-weight 300
